body {
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: x-large;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  max-width: 40rem;
  margin: 0 auto;
}

.single-digit {
  margin-left: 0.9rem;
}

.form-container {
  flex: 1;
  max-width: 400px;
  height: fit-content;
  padding-top: 3rem;
}

.table-container {
  flex: 2;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.table-header {
  color: red;
  text-align: center;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin: 0px;
}

.header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header h1 {
  font-size: 18px;
  margin: 0;
}

p {
  margin: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 10px;
}

.table th,
.table td {
  text-align: right;
}

.table th {
  background-color: red;
  color: white;
}

.table tr:last-child {
  border-bottom: none;
}

table .position {
  width: 2rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

table .position-header {
  width: 1rem;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table .time-header {
  width: 0.5rem;
  text-align: center;
}

.time-text {
  margin: 0 auto;
  width: fit-content;
}

table .car-header {
  width: 1rem;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.table .name {
  text-align: left;
  white-space: nowrap;
  font-family: 'Sugo Pro Display Trial', sans-serif;
  font-size: 1.7rem;
}

.table .time {
  width: fit-content;
  text-align: center;

  font-weight: 600;
}

.table .car {
  width: 100px;
  text-align: center;

  font-weight: 600;
}

.table .gap {
  width: 50px;
}

.color-box {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.red {
  background-color: hsl(0, 100%, 50%); /* Bright red */
  height: 1.5rem;
  width: 4px;
  border: solid 1px hsl(0, 100%, 50%);
  padding: 3px;
}

.blue {
  background-color: hsl(240, 100%, 50%); /* Bright blue */
  height: 1.5rem;
  width: 4px;
  border: solid 1px hsl(240, 100%, 50%);
  padding: 3px;
}

.green {
  background-color: hsl(120, 100%, 50%); /* Bright green */
  height: 1.5rem;
  width: 4px;
  border: solid 1px hsl(120, 100%, 50%);
  padding: 3px;
}

.yellow {
  background-color: hsl(60, 100%, 50%); /* Bright yellow */
  height: 1.5rem;
  width: 4px;
  border: solid 1px hsl(60, 100%, 50%);
  padding: 3px;
}

.orange {
  background-color: hsl(30, 100%, 50%); /* Bright orange */
  height: 1.5rem;
  width: 4px;
  border: solid 1px hsl(30, 100%, 50%);
  padding: 3px;
}

.violet {
  background-color: hsl(270, 100%, 50%); /* Bright violet */
  height: 1.5rem;
  width: 4px;
  border: solid 1px hsl(270, 100%, 50%);
  padding: 3px;
}

.black {
  background-color: black;
  height: 1.5rem;
  width: 4px;
  border: solid 1px black;
  padding: 3px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sa-logo {
  max-width: 100%;
  max-height: 100%;
}

#logo-container {
  width: 100%;
  margin-top: 3rem;
}

#vector-container {
  width: 100%;
  border: 1px solid blue;
}
